@model HumansInHarmony.Models.User

@TempData["Error"]

@if (TempData.Peek("Email") == null)
{

    <form action="Register" method="post">
        <table>
            <tr>
                <th>
                    Name:<br />
                <th>
                    <input type="text" name="Name" required />
                </th>
            </tr>
            <tr>
                <th>
                    Email:<br />
                <th>
                    <input type="text" name="Email" required />
                </th>
            </tr>
            <tr>
                <th>
                    Password:<br />
                </th>
                <th>
                    <input type="password" name="Password" required />
                </th>
            </tr>
            <tr>
                <th>
                    <br />
                    <br />
                    <br />
                    <h1>Enter your social media links below to allow other users to contact you. The following information is optional.</h1>
                </th>
            </tr>
            <tr>
                <th>
                    
                    <p>Copy and paste the link to your Facebook profile page.</p>
                </th>
                <th>
                    <input type="url" name="Facebook" required />
                </th>
            </tr>
            <tr>
                <th>
                    <p>Insert your Instagram username:</p>
                </th>
                <th>
                    <input type="text" name="Instagram" required />
                </th>
            </tr>
            <tr>
                <th>
                    <p>Insert your Twitter handle:</p>
                </th>
                <th>
                    <input type="text" name="Twitter" required />
                </th>
            </tr>

            <tr>
                <th>
                    <p>Insert your Snapchat username:</p>
                </th>
                <th>
                    <input type="text" name="Twitter" required />
                </th>
            </tr>

            <tr>
                <th>
                    <input type="submit" value="Register" />
                </th>
            </tr>
        </table>
    </form>
}
else
{
    <h1>Thanks for creating an account with us @Model.Name</h1>
    <div>
        <a asp-action="HomePage" asp-controller="Home">Start Listening</a>
    </div>
}   