@model HumansInHarmony.Models.User

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
@TempData["ReadError"]

@if (TempData.Peek("Email") == null)
{
    <form action="UserLogin" method="post">
        <table>
            <tr>
                <th>
                    Email:<br />
                <th>
                    <input type="text" name="Email" required />
                </th>
            </tr>
            <tr>
                <th>
                    Password:<br />
                </th>
                <th>
                    <input type="password" name="Password" required />
                </th>
            </tr>
            <tr>
                <th>
                    <input type="submit" value="Login" />
                </th>
            </tr>
        </table>
    </form>
}
else
{
    <h1>Welcome back @Model.Name</h1>
    <div>
        <a asp-action="HomePage" asp-controller="Home">Start Listening</a>
    </div>
}