@model IEnumerable<HumansInHarmony.Models.User>

@{
    ViewData["Title"] = "AllUsers";
}

<h1>AllUsers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Number of Likes
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            SongContext database = new SongContext();
            var userLikes = from likedsong in database.LikedSongs
                            where likedsong.UserId == item.Id
                            select likedsong;

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @userLikes.Count()
                </td>
                <td>
                    <a asp-action="Matches" asp-controller="Home" asp-route-Id="@item.Id">Check your matches</a>
                </td>
            </tr>
        }
    </tbody>
</table>
