<!DOCTYPE html>
<html lang="en">

@*<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


     Bootstrap core CSS 
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

     Custom styles for this template 
    <link href="css/the-big-picture.css" rel="stylesheet">

</head>*@


<body style="background-image:url(https://images.unsplash.com/photo-1514477917009-389c76a86b68?ixlib=rb-1.2.1&w=1000&q=80); background-size:cover ">


    <section>
        
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5"><strong><font family="century gothic" size="300" color="white">Humans in Harmony</font></strong></h1>
                    <p><font size="10" family="century gothic" color="white">Where humans seeking humans can connect based on musical compatibility.</font></p>
                    @if (TempData.Peek("Email") == null)
                    {
                        <input type="button" value="Login" onclick="location.href='@Url.Action("UserLogin", "Login")'" />
                        <input type="button" value="Register" onclick="location.href='@Url.Action("Register", "Login")'" />
                    }
                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>

</html> 