@model HumansInHarmony.Models.User

@{
    ViewData["Title"] = "ProfilePage";
}
<style>
    body {
            text-align: center;
            color: white;
            font-size: 20px;
        }
    .content {
        max-width: 500px;
        margin: auto;
    }
</style>
<body style="background-image:url(https://images.unsplash.com/photo-1514477917009-389c76a86b68?ixlib=rb-1.2.1&w=1000&q=80); background-size:cover ">
    <div class="content">

        <div>

            <h1>@Model.Name</h1>
            <br /><br />
            @if (Model.Facebook != null)
            {
                <p>
                    <a href="@Model.Facebook" target="_blank"><img src="https://en.facebookbrand.com/wp-content/uploads/2019/04/f_logo_RGB-Hex-Blue_512.png" height="100" target="_blank"></a><br /><br />
                </p>
            }
            @if (Model.Instagram != null)
            {
                <p>
                    <a href="http://www.Instagram.com/@Model.Instagram" target="_blank"><img src="https://www.edigitalagency.com.au/wp-content/uploads/new-instagram-logo-png-transparent-light.png" height="100" target="_blank"></a><br /><br />
                </p>
            }
            @if (Model.Twitter != null)
            {
                <p>
                    <a href="http://www.Twitter.com/@Model.Twitter" target="_blank"><img src="http://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c53e.png" height="100" target="_blank"></a><br /><br />
                </p>
            }
            @if (Model.Snapchat != null)
            {
                <p>
                    <a><img src="https://www.freeiconspng.com/uploads/snapchat-logo-transparent-background-0.png" height="100">Add me: @Model.Snapchat</a><br /><br />
                </p>
            }
            @if (Model.Facebook == null && Model.Twitter == null && Model.Instagram == null && Model.Snapchat == null)
            {
                <p>This user has opted out of displaying their social medias publicly. Look around elsewhere!</p>
            }
           
        </div>
        <div>
            <a asp-action="AllUsers" asp-controller="Home">Back to List</a>
        </div>
        </div>
</body>